body {
    width: 90vw;
    height: 80vh;
}

main,
#hero-container {
    width: 100%;
    height: 100%;
}

#hero-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.project-container {
    flex: 1 1 0;
    border: 1px solid green;
}

