body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

main,
#hero-container {
    width: 100%;
    height: 100%;
}

#hero-container {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.project-container {
    position: relative;
    flex: 1 1 0;
    transition: flex 1s ease-out;
    background-color: green;
    pointer-events: none;

    &:nth-child(even) {
        background-color: blue;
    }

    &.active {
        cursor: pointer;
        pointer-events: all;

    }

    &.focus {
        flex: 5 1 0;

        .project-thumb-info-container {
            opacity: 1;
            transition: opacity 0s linear;
        }
    }
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit:cover    
}

.project-thumb-info-container {
    position: absolute;
    z-index: 100000;
    display:flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem 0.5rem 0px;
    gap: 1rem;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 100ms 100ms linear;
}

.project-info {
    text-align: right;
    h3, p {
        margin: 0px;
    }
}

.project-artist-icon {
    display: flex;
    align-items: center;
}

.artist-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
}

