body {
    width: 100vw;
    height: 80vh;
    margin: 0px;
}

main,
#hero-container {
    width: 100%;
    height: 100%;
}

#hero-container {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.project-container {
    flex: 1 1 0;
    transition: flex 1s ease-out;
    background-color: green;
    pointer-events: none;

    &:nth-child(even) {
        background-color: blue;
    }

    &.active {
        cursor: pointer;
        pointer-events: all;

    }

    &.focus {
        flex: 5 1 0;
    }
}

.project-thumb {
    width: 100%;
    height: 100%;
    object-fit:cover    
}

